header{
    font-family: 'Bitter', serif;
}

body {
    background-color: rgb(210, 152, 243);
    border-radius: 2rem 2rem 0 0;
    min-height: 100%;
    padding: 2rem;
}

.flexible {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.no-dots {
    list-style: none;
}

.cuadrado {
    width: 900px;
    height: 280px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;;
    text-align: justify;
    font-weight:bold;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    color: rgb(255, 238, 0);
    font-family: 'Lilita One', sans-serif;
    font-size: 500%;
    font-style: normal;
    letter-spacing: 5mm;
    text-align: center;
}

img {
    width: 200px;
    height: 250px;
}

h2{
    font-family: 'Bitter', serif;
}

h3{
    font-family: 'Bitter', serif;
}

p{
    font-family: 'Bitter', serif;
}

h4{
    font-family: 'Bitter', serif;
}

li{
    font-family: 'Bitter', serif;
}

.divppalflex {
    display: flex;
    justify-content: space-around;
}

.presentaciónflex {
    display: flex;
    flex-direction: column;
}

.presentacióncuad {
    width: 400px;
    height: 200px;
}

.rectangular{
    width: 500px;
    height: 200px;
}
.amarillo{
    background-color: rgba(255, 255, 1, 0.5);
}

#izq{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#der{
    display: flex;
    flex-direction: column;
    justify-content: end;
}